*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f5f5f5;
}
.clear{
    clear: both;
}

.hidden{
    display: none;
}

#header_main{
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-image: url("../images/bluepapersmall.JPG");
    color: #ffffff;
}
.account{
    line-height: 1em;
    position: absolute;
    right: 35px;
    top: 15px;
}
.account img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: block;
    float: right;
}

.account:hover .options{
    display: block;
}

.account .options {
    margin-top: 50px;
    background-color: #ffffff;
    position:relative;
    border-radius:5px;
    box-shadow: 0 0 2px #222;
    padding: 10px 0;
    display: none;
}

.account .options:after{
    content:'';
    display:block;
    position:absolute;
    top:-20px;
    right:10px;
    border: 10px solid;
    border-color: transparent transparent #ffffff transparent;
}

.account .options a{
    text-decoration: none;
    color: #222;
    padding: 5px 10px;
    display: block;
}

.account .options a:hover{
    background-image: url('../images/bluepapersmall.JPG');
    color: #ffffff;
}

.pagewrapper{
    max-width: 1300px;
    margin: 20px  auto 0 auto;
    padding: 0 5px;
}

.toolbar{
    box-shadow: 0 0 2px #aaa;
    width: 22.5%;
    background-image: url("../images/bluepapersmall.JPG");
    color: #ffffff;
    float: left;
}

.toolbar_header{
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}

.toolbar_header small{
    color: #dddddd;
}

.badge{
    background: url("../images/icons/icstar.svg");
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.toolbar_content{
    padding: 20px;
    border-bottom: 1px solid #dddddd;
}

.toolbar_content a{
    text-decoration: none;
    display: block;
    color: #dddddd;
    padding: 5px 0;
    font-size: 0.9em;
}

.toolbar_post{
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
}
.toolbar_post span{
    vertical-align: 5px;
    font-size: 0.8em;
    color: #CCCBCB;
}

.toolbar_post img{
    width: 20px;
    height: 20px;
}

aside{
    width: 23%;
    height: calc(100vh - 80px);
    background-color: #ffffff;
    box-shadow: 0 0 2px #aaa;
    float: left;
}

#footer_main{
    height: 100px;
    background-image: url("../images/bluepapersmall.JPG");
    margin-top: 40px;
}

small{
    color: #666666;
}

/* rest */

.content{
    width: 48%;
    margin: 0 3%;
    float: left;
    position: relative;
}

.content article{
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 2px #aaa;
}

article header{
    border-bottom:1px solid #dddddd;
    padding: 9px 20px 4px 15px;
}

article header > div{
    display: inline-block;
}

article header .author img{
    width: 40px;
    border-radius: 40px;
    padding: 1px;
    border: 2px solid gold;
}

article header .author div{
    float: right;
    margin-top: 7px;
    padding-left: 10px;
}

article header .author small{
    display: block;
    font-size: 0.8em;
    color: #888888;
}

article header .post_time{
    float: right;
    position: relative;
}

article header .post_time img{
    margin-top: 10px;
    width: 20px;
}

article header .post_time img.dispOptions {
    box-shadow: 0 0 2px #222;
    background-color: #f5f5f5;
}

article header .post_time small{
    vertical-align: 5px;
    margin-right: 5px;
}

article header .post_time .options {
    position: absolute;
    right: 0;
    width: 90px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 2px #222;
    display: none;
}

article header .post_time .options.dispOptions{
    display: block;
}

article header .post_time .options div {
    margin: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

article .post_content{
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

.article_question .post_content, .article_image .post_content, .article_link .post_content{
    padding: 20px 30px 20px 70px;
}

.article_question .description small {
    border-left: 5px solid #3A5568;
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f5f5f5;
}

.article_image .post_image{
    max-height: 450px;
    box-shadow: 0 0 2px #000000;
    width: 100%;
    padding: 1px;
    border-radius: 5px;
}

.article_image .post_image img{
    display: block;
    width: 100%;
    border-radius: inherit;
}

.article_image .post_content small{
    margin-top: 15px;
    display: block;
}

.article_link .description{
    margin-bottom: 10px;
    font-size: 0.9em;
}

.article_link .post_image {
    width: 100%;
    max-height: 200px;
    border-radius: 5px 5px 0 0;
}

.article_link .urlPreview{
    padding: 10px;
}

.article_link .urlPreview small{
    display: block;
}

.article_link .post_wrapper{
    box-shadow: 0 0 2px #000000;
    border-radius: 5px;
    padding: 1px;
}

.article_comment {
    background-color: #ffffff;
    box-shadow: 0 0 2px #bbb;
    padding: 20px 30px 20px 17px;
}

.article_comment .new_comment {
    margin-left: 50px;
    box-shadow: 0 0 2px #222;
    position: relative;
    padding: 5px 35px 5px 20px;
    border-radius: 5px;
}

.article_comment .new_comment textarea{
    display: block;
    width: 100%;
    border: none;
    resize: none;
    height: 80px;
}

.article_comment .new_comment textarea:focus {
    outline: none;
}

.article_comment .new_comment img{
    display: block;
    position: absolute;
    right: 5px;
    bottom: 9px;
}

.article_comment .all_comments {
    margin-top: 20px;
}

.article_comment .comment {
    margin: 10px 0 10px 0;
}

.article_comment .comment .author_image{
    width: 35px;
    border-radius: 35px;
    padding: 1px;
    border: 2px solid gold;
    position: absolute;
}

.article_comment .comment .comment_content {
    margin-left: 50px;
    padding: 10px;
    box-shadow: 0 0 2px #222;
    background-color: #f5f5f5;
}

.article_comment .comment .comment_content  .comment_text {
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
}

.article_comment .comment .comment_content strong{
    font-size: 0.9em;
}

.article_comment .comment .comment_content img{
    float: right;
    width: 18px;
}

.article_comment .comment .comment_content small {
    float: right;
}

article footer{
    padding: 10px 20px;
}

article footer img{
    width: 20px;
}

article footer img.active {
    border: 1px solid #44a6c6;;
    border-radius: 20px;
}

article footer span.active{
    color: #44a6c6;
}

article footer span{
    font-size: 0.8em;
    vertical-align: 5px;
    margin: 0 15px 0 5px;
}

#btn-show-modal{
    box-shadow: 0 0 2px #aaa;
    height: 50px;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    line-height: 50px;
}

#btn-show-modal img{
    position: absolute;
    right: 20px;
    top: 8px;
    background-image: url("../images/bluepapersmall.JPG");
    padding: 5px;
    border-radius: 50%;
}

#modal{
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 2px #aaa;
    background-color: #ffffff;
    /*visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s, opacity 500ms;*/
}

#modal header{
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-image: url("../images/bluepapersmall.JPG");
    color: #ffffff;
}

#modal header img{
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
}

#modal input[type="file"]{
    opacity: 0;
    position: absolute;
}

#modal .primary_input{
    display: none;
}

#modal .primary_input.active{
    display: block;
}

#modal label, #modal .primary_input input[type="text"], #modal .primary_input input[type="url"]{
    width: 100%;
    font-size: 0.8em;
    color: #666666;
    display: block;
    border-bottom: 1px solid #dddddd;
    padding: 20px;
}

#modal .primary_input input[type="text"], #modal .primary_input input[type="url"]{
    border: none;
    border-bottom: 1px solid #dddddd;
    font-size: 1em;
}

#modal .imgPreview{
    padding: 0 20px;
    max-height: 500px;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}

#modal .imgPreview img{
    width: 50%;
}

#modal .post_in{
    display: inline-block;
    width: 100%;
    padding: 20px;
    font-size: 0.9em;
    border-bottom: 1px solid #dddddd;
    color: #888888;
}

#modal .user_input .btn_upload{
    padding: 7px 15px;
    box-shadow: 0 0 2px #aaa;
}

#modal .post_in input[type="text"]{
    border: none;
}

#modal textarea{
    width: 100%;
    height: 100px;
    border: none;
    resize: none;
    font-size: 0.8em;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

#modal textarea:focus, #modal input{
    outline: none;
}

.modal_buttons{
    padding: 15px 20px;
}

.modal_buttons button{
    cursor: pointer;
    border: none;
    padding: 6px 14px 3px 14px;
    color: #dddddd;
    background-image: url("../images/bluepapersmall.JPG");
}

.modal_buttons button.active{
    background-color: steelblue;
    background-image: none;
}

.modal_buttons .btn_post{
    float: right;
}
.modal_buttons .btn_post span{
    font-size: 1.2em;
    vertical-align: 5px;
}

.error{
    outline: 1px solid red;
}

.editorLoading{
    float: right;
    height: 80px;
    margin-top: -23px;
}
